
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #e991a7;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  font-family: 'overpass', sans-serif;
  font-size: 22px;
  margin-bottom: 130px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #9A1750;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav {
  padding-right: 50px;
}

li > a {
  color: inherit;
  text-decoration: none;
}



nav > ul > li {
  color: #E3E2DF;
}

nav > ul > li:hover {
  color: #9A1750;
  cursor: pointer;
  animation: moveText 0.3s ease;
}

h1 {
  font-family: 'overpass', sans-serif;
  font-size: 45px;
  text-align: center;
  color: #9A1750;
}

h2 {
  font-family: 'overpass', sans-serif;
  font-weight: lighter;
  color: #E3E2DF;
  max-width: 850px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the element horizontally */
  text-align: center; /* Center the text within the element */
}

.about {
  background-color: #5D001E;
  padding: 50px;
  font-size: 12px;
}

.about a {
  font-weight: bold; /* Make the link text bold */
  color: #fffefe; /* Set the link color */
  text-decoration: none; /* Remove underline from the link */
}

.about a:hover {
  color: #9A1750; /* Change the link color on hover */
}

h3{
  font-family: 'overpass', sans-serif;
  font-size: 25px;
  padding-bottom: 40px;
  color: #dfdfe2;
  max-width: 600px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the element horizontally */
  text-align: center; /* Center the text within the element */
}


.image-container {
  text-align: center; /* Center the content horizontally */
  background-color: #9A1750;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-top: 140px;
  padding-bottom: 40px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  box-shadow: 8px 8px 20px 0 #5c0f30;
}

.profile {
  max-width: 200px;
  height: auto; /* This ensures the aspect ratio is maintained */
  border-radius: 50%;
  padding-bottom: 0px;
}


.logo{
    max-width: 130px;
    height: auto; /* This ensures the aspect ratio is maintained */
}

.logo-container {
  margin-right: auto; /* Push the logo to the far left */
}

.explore-projects{
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 35px;
  color: #9A1750;
}

.projects-container{
  padding-bottom: 80px;
  max-width: 780px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

div > .project-container1 {
  max-width: 200px;
  height: auto;

}

div > .project-container2 {
  max-width: 200px;
  height: auto;

}

div > .project-container3 {
  max-width: 200px;
  height: auto;

}

div > .project-container4 {
  max-width: 200px;
  height: auto;

}

div > .project-container5 {
  max-width: 200px;
  height: auto;

}

div > .project-container6 {
  max-width: 200px;
  height: auto;

}


.project-container1:hover{
  animation: shake 0.5s; /* Apply the shake animation on hover */
  animation-iteration-count: infinite; /* Keep shaking until hover ends */
}

.project-container2:hover{
  animation: shake 0.5s; /* Apply the shake animation on hover */
  animation-iteration-count: infinite; /* Keep shaking until hover ends */
}

.project-container3:hover{
  animation: shake 0.5s; /* Apply the shake animation on hover */
  animation-iteration-count: infinite; /* Keep shaking until hover ends */
}

.project-container4:hover{
  animation: shake 0.5s; /* Apply the shake animation on hover */
  animation-iteration-count: infinite; /* Keep shaking until hover ends */
}

.project-container5:hover{
  animation: shake 0.5s; /* Apply the shake animation on hover */
  animation-iteration-count: infinite; /* Keep shaking until hover ends */
}

.project-container6:hover{
  animation: shake 0.5s; /* Apply the shake animation on hover */
  animation-iteration-count: infinite; /* Keep shaking until hover ends */
}

.resume{
  font-size: 35px;
  color: #9A1750;
}

.resume-img{
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

footer{
  background-color: #5D001E;
  margin-top: 40px;
  padding: 100px;
}








@keyframes moveText {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-15px);
  }
}

/* Define the shake animation */
@keyframes shake {
  0%, 100% {
    transform: translateX(0); /* Start and end position (no movement) */
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px); /* Move left */
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px); /* Move right */
  }
}